<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.mob.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MobileApp</name>
    <description>
        BFC Retail Group Tools Application
    </description>
    <author email="orioncharlier@gmail.com" href="http://orioncharlier.io">
        Orion Charlier
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
</widget>
